

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(imgs/wallpaperflare.com_wallpaper\(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.rslt{
    height: 100;
    width: 500px;
    background-color: rgb(33, 71, 109);
    border-radius: 10px;
    border-style: groove;
    color: white;
    font-size: 50px;
    align-items: center;
}
.elimants{
    height: auto;
    width: 500px;
    background-color: rgb(33, 71, 109);
    border-radius: 10px;
    border-style: groove;
}
input[type=number]{
    height: 80px;
    width: 110px;
    background-color: red;
    border-radius: 10px;
    font-size: 50px;
    padding: 10px;;
    
}
input[type=submit]{
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 10px;
    color: aliceblue;
}
.footer{
    height: 50px;
    width: 100%;
    background-color: #333;
    color: white;
    position: relative;
    bottom: -285px;
}
.gh-logo{
    height: 30px;
    width: 30px;
    margin-left: 10px;
}


